html
	head
		title Noravel | Documentations
		//- custom stylesheet
		link(rel='stylesheet', href='/css/custom.css', type='text/css')

		//- custom javascript
		script(src='/js/custom.js')
	body
		h1.lead Getting Started 
			
		div.footer
			span &copy; #{contents.date} Noravel
