html
	head
		title noravel
		//- custom stylesheet
		link(rel='stylesheet', href='/css/custom.css', type='text/css')

		//- including boostrap libs and jquery
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
		
		//- Font awesome packs
		script(defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')

		//- custom javascript
		script(src='/js/custom.js')
	body
		div.cover 
			img(src='/img/noravel.png') 
			br
			a(href='https://noravel.herokuapp.com/documentation') Documentations
			a(href='https://github.com/delino12/noravel') Github
		div.footer
			span &copy; #{contents.date} Noravel
		block content
