html
	head
		title Noravel
		//- custom stylesheet
		link(rel='stylesheet', href='/css/custom.css', type='text/css')

		//- custom javascript
		script(src='/js/custom.js')
	body
		div.cover 
			img(src='/img/noravel.png')
