/*
* version 1.0.0
* Noravel CSS
* Ekpoto Liberty Bernard
*/

html {
	font-family: Gill Sans;
	font-size: 13px;
}

.cover {
	margin-top: 20%;
	text-align: center;
}

a {
	text-decoration: none;
	color:#797979;
	padding: 8px;
	font-family: Gill Sans, vendera;
}

a:hover {
	color:#718794;
}


.footer {
	margin-top: 20%;
	text-align: center;
}